<div class="comic-card" style=<%= "background-image:url(#{comic["images"][0]["path"]}/portrait_xlarge.#{comic["images"][0]["extension"]})" %> >
  <div class="comic-like-btn">
    <%= image_tag "heart_off", id: "heart-off" %>
    <%= image_tag "heart_hover", id: "heart-hover" %>
    <%= image_tag "heart_on", id: "heart-on" %>
  </div>
  <div class="comic-card-text-box">
    <p><%= comic["title"] %></p>
  </div>
</div>
