<div class="comics-search">
  <div class="sign-in-btn">
    <%= link_to "Sign in", new_user_session_path %>
  </div>
  <%= image_tag "marvel_logo" %>
  <div>
    <%= form_with(url: root_path, method: "GET", data: { turbo_frame: "turbo-search", turbo_action: "advance" }) do |f| %>
      <%= search_field_tag :query, params[:query], { oninput: "this.form.requestSubmit()", placeholder: "Search...", id: "search-input", class: "form-control" } %>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "turbo-search" do %>
  <div class="container">
    <div class="comics-results row pt-1 justify-content-center">
      <%= render partial: "comic", collection: @comics %>
    </div>
  </div>
<% end %>
